/* css reset */
body {
    margin: 0;
    background-color: #333;
    font-family: 'League Gothic',sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

/* Layout */
.navbar {
    background-color: #222;
    font-size: 25px;
}
.navbar>ul {
    /* background-color: green; */
    /* border: 2px solid white; */
    display: inline-block;
    vertical-align: middle;
}
.navbar>ul.branding {
    margin-right: 100px;
    margin-left: 50px;
}
.navbar>ul.branding li:first-child {
    font-size: 40px;

}
.navbar>ul.client {
    margin-left: 200px;
}
.navbar>ul>li {
    display: inline-block;
    /* border: 1px solid orange; */
    padding: 20px 10px;
    vertical-align: middle;
}
.navbar a {
    color: white;
}